body {
     background-color: #1F1F24 !important;
     font-family: "futura", sans-serif;
}

.talljumbo {
  height: 640px;
}

.dark {
  color: #FFF;
  /* font-family: "futura", sans-serif; */
  text-align: center;
  font-weight: 400;
  margin: 0;
  /* height: 800px; */
  background: rgb(0,255,205);
  background: linear-gradient(1deg, rgba(0,255,205,1) 0%, rgba(31,31,36,1) 65%);
}

.dark h1 {
  font-size: 3.5rem;
  font-weight: 200;
  padding-bottom: 40px;
}

.jumbotron {
  margin-bottom: 0;
}

.card-img-top {
  padding: 40px;
}

.card-body {
  color: #333;
}
